:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

body {
    font-family: var(--primary-font);
    color: #434455;
    background-color: #ffffff;
}

/* ----------------Header Section----------------*/

.address {
    font-style: normal;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover,
.mail:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size:18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link {
    text-decoration: none;
    
}

.link:hover,
.link:focus {
    color: #404bbf
}

.span-logo {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.studiolist {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}